/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.k-group-indicator{
  background-color: #ca4440;

}
.k-header{
  background-color: #3dc7ab;
}
.k-group-cell .k-grid-table{
  background-color: #ffffff;
}
