<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div>
          <img alt="image" class="profile-element" src="assets/images/Logo_bad_2.png" width="180px" height="90px"/>

        </div>
        <!--<div class="profile-element" dropdown>-->
          <!--<img alt="image" class="img-circle" src="assets/images/profile_small.jpg">-->
          <!--<a dropdownToggle>-->
            <!--<span class="block m-t-xs"> <strong class="font-bold">David Williams</strong> </span>-->
            <!--<span class="text-muted text-xs block">Non operational <b class="caret"></b> </span>-->
          <!--</a>-->
          <!--<ul class="animated fadeInRight dropdown-menu" *dropdownMenu>-->
            <!--<li><a href="#">Gérer mon profile utilisateur</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Logout</a></li>-->
          <!--</ul>-->
        <!--</div>-->
        <div class="logo-element">
          SRAS
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('starter')}">
        <a [routerLink]="['/starterview']"><i class="fa fa-line-chart"></i> <span class="nav-label">Dashbord</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('starter')}">
        <a [routerLink]="['/starterview']"><i class="fa fa-building-o"></i> <span class="nav-label">Organization</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('workingProgram')}">
        <a href="#"><i class="fa fa-calendar-o"></i> <span class="nav-label">Working program</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('workingProgram')}">
          <li [ngClass]="{active: activeRoute('deliverables')}"><a [routerLink]="['/workingProgram/deliverables']">Activities</a></li>
          <li [ngClass]="{active: activeRoute('deliverables')}"><a [routerLink]="['/workingProgram/deliverables']">Projects</a></li>
          <li [ngClass]="{active: activeRoute('deliverables')}"><a [routerLink]="['/workingProgram/deliverables']">Deliverables</a></li>
          <li [ngClass]="{active: activeRoute('deliverables')}"><a [routerLink]="['/workingProgram/deliverables']">Strategic alignment</a></li>
        </ul>
      </li>

      <li [ngClass]="{active: activeRoute('workingProgram')}">
        <a href="#"><i class="fa fa-calculator"></i> <span class="nav-label">Costing</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('workingProgram')}">
          <li [ngClass]="{active: activeRoute('deliverables')}"><a [routerLink]="['/workingProgram/deliverables']">Cost Elements</a></li>
          <!--<li [ngClass]="{active: activeRoute('deliverables')}"><a [routerLink]="['/workingProgram/deliverables']">Strategic alignment</a></li>-->
        </ul>
      </li>



      <!--<li [ngClass]="{active: activeRoute('deliverables')}">-->
        <!--<a [routerLink]="['/deliverables']"><i class="fa fa-th-large"></i> <span class="nav-label">Deliverables</span></a>-->
      <!--</li>-->
      <li [ngClass]="{active: activeRoute('login')}">
        <a [routerLink]="['/login']"><i class="fa fa-cogs"></i> <span class="nav-label">referential</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('login')}">
        <a [routerLink]="['/login']"><i class="fa fa-cog"></i> <span class="nav-label">Manage SRAS users</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('login')}">
        <a [routerLink]="['/login']"><i class="fa fa-th-large"></i> <span class="nav-label">Login example</span></a>
      </li>
    </ul>

  </div>
</nav>
