<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
      <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
          <br/>
        </div>
      </form>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li  dropdown>
        <span dropdownToggle>
          <span class="block m-t-xs"> <img alt="image" class="img-circle" width="50px" height="50px" src="assets/images/Photo-Pro2.jpg" style="margin-bottom: 2px">
            Hi <strong class="font-bold">Hicham </strong>, welcome to SRAS  </span>
          <!--<span class="text-muted text-xs block">Non operational <b class="caret"></b> </span>-->
        </span>
        <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
          <li><a href="#"> <i class="fa fa-user"></i>  Gérer mon profile utilisateur</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="fa fa-sign-out"></i>  Logout</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li dropdown>
        <a class="count-info"  dropdownToggle>
          <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
        </a>
        <ul class="animated fadeInRight dropdown-menu" *dropdownMenu style="width: 350px;">
          <li>
            <a href="#">
              <div>
                <i class="fa fa-envelope fa-fw"></i> Il y a un nouveau livrable qui a été saisie !
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <div class="text-center link-block">
              <a href="#">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </li>
    </ul>

  </nav>
</div>
