$base-theme:Default;
$skin-name:theme_sras;
$accent: #10c4b2;
$info: #0099cc;
$success: #2db245;
$warning: #feca3f;
$error: #fe633f;
$text-color: #4c5356;
$bg-color: #ffffff;
$base-text: #ffffff;
$base-bg: #2f4050;
$hovered-text: #ffffff;
$hovered-bg: #2eb3a6;
$selected-text: #ffffff;
$selected-bg: #10c4b2;
$series-a: #10c4b2;
$series-b: #ff7663;
$series-c: #ffb74f;
$series-d: #a2df53;
$series-e: #1c9ec4;
$series-f: #ff63a5;

